div {
  border: 1px solid black;
  background-color: #8b0000;
  margin: 5px;
  padding: 2px;
}

#Content {
  border: 2px dotted red;
  width: 81.67%;
  margin: auto;
  background-color: grey;
}
h1 {
 color: white;
}
#headerBox {}

.linksBox {}

.linksBox,
.textBox {}

.textBox {
  overflow: auto;
}

.textBox img {
  width: 50%;
  float: left;
}

f-left {
  float: left;
}

f-right {
  float: right;
}

a {}

a:visited {}

a:hover {
  border: #3b2f2f
}

@media (max-width: 600px) {
  #content {
    /* width: 100% */
  }
}
